/* header */
.header {
  padding: 69px 162px 69px 162px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-div {
  display: flex;
  align-items: center;
}

.logo {
  width: 36.58px;
  height: 53.72px;
}
.logo-text {
  font-family: "Roboto";
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  color: #274c5b;
}

.nav {
  display: inline-block;
  margin-left: 150px;
}

.nav-li {
  display: inline-block;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #274c5b;
  margin-inline: 20px;
}

/* body */
body {
  height: 10000px;
  padding-top: 190px;
  background-color: #f9f8f8;
}

/* body - section1 */
.section1 {
  margin: 0 auto;
  margin-top: 49.28px;
  margin-bottom: 91px;
}
.section1-main-div {
  margin: 0 auto;
  width: 1400px;
  height: 579px;
}
.section1-left-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: 41px;
  width: 671px;
  height: 258px;
}
.section1-left-box-h3 {
  font-family: "Yellowtail";
  font-size: 36px;
  font-weight: 400;
  line-height: 49px
  text-align: left;
  color: #7eb693;
}
.section1-left-box-h2 {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 800;
  line-height: 59px;
  color: #274c5b;
}
.section1-left-box-p {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #525c60;
}
.section1-img {
  width: 678px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
}

/* body - section2 */
.section2 {
  margin: 0 auto;
  width: 1400px;
  height: 335px;
  padding:0 131px;
}

.section2-div {
  width: 257px;
  height: 335px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px; 
  margin-right:10px ;
}
.section2-title {
  margin-top: 29px;
  margin-left: 22px;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 800;
  line-height: 29px;
  color: #274c5b;
}
.section2-p {
  margin-top: 20px;
  margin-left: 36px;
  margin-right: 37px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #525c60;
}
